@media (min-width: 992px) and (max-width: 1200px){
	.nav ul {
	    margin-top: 21px;
	}

	.nav a {
	    font-size: 16px;
	    padding: 10px 6px;
	}

	.intro_3 .container {
	    background: #ffffff;
	    min-height: 450px;
	    background: #ffffff url(../img/intro_3_bg.png);
	    background-position-x: -100px;
	}

	.content .container {
	    padding: 15px 35px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.nav{
		display: none;
	}

	.search{
		display: none;
	}
}