@media (min-width: 992px) and (max-width: 1200px){
	.nav ul {
	    margin-top: 21px;
	}

	.nav a {
	    font-size: 16px;
	    padding: 10px 6px;
	}

	.intro_3 .container {
	    background: #ffffff;
	    min-height: 450px;
	    background: #ffffff url(../img/intro_3_bg.png);
	    background-position-x: -100px;
	}

	.content .container {
	    padding: 15px 35px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.nav{
		display: none;
	}

	.search{
		display: none;
	}

	.intro_bg h1 {
    	font-size: 90px;
	}

	.intro_bg {
    	min-height: 315px;
	}

	.intro_2 h2{
    	line-height: 2;
	}

	.item_blog{
		margin-bottom: 30px;
	}

	.item_line {
	    margin-bottom: 0px;
	}

	.social ul {
	    left: 46%;
	}
}
@media (max-width: 991px){
	.search_nav{
		display: block;
		font-size: 41px;
		margin-top: 12px;
    	text-align: right;
	}
	.search_nav span{
		cursor: pointer;
	}

	.search_nav span i:hover{
		color: #6f6f6f;
	}

	.hide_menu{
		background: url(../img/top_shadow.png) no-repeat top;
    	padding: 15px 0;
    	font-size: 23px;
	}

	.hide_menu ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.hide_menu ul li{
	    text-align: center;
	    padding: 5px;
	}

	.hide_menu ul li:hover{
		background-color: #f1f1f1;
	}

	.hide_menu ul li a{
		color: #000000;
		width: 100%;
		display: block;
	}

	.hide_menu ul li a:hover{
		text-decoration: none;
	}
}