a{
  color: #ffffff;
}

.top{
  background: #000000;
  color: #ffffff;
  height: 35px;
  vertical-align: middle;
}

.top_list_info{
  text-align: left;
}

.top_list_info ul{
  list-style: none;
  margin-top: 7px;
  font-size: 16px;
}

.top_list_info ul li{
  float: left;
}

.top_list_info ul li a{
  margin-left: 10px;
}

.top_list_info ul li a:hover{
  color: #ffffff;
  font-size: 17px;
}

.phone_top{
  font-weight: bold;
  border-right: 2px solid #fff;
  padding: 0 10px 0 0;
  margin-left: -10px;
}

.top_login{
    text-align: right;
    font-weight: bold;
    margin-top: 7px;
    padding: 0 20px 0 0;
}

.top_login a{
  color: #a8ada9;
}

.top_login a:hover{
  color: #ffffff;
  text-decoration: none;
}

header{
  background: #ffffff;
  min-height: 63px;
}

.logo img{
  width: 80%;
}
.logo{
  margin-left: 20px;
}

.nav a{
  color: #000000;
  font-size: 20px;
  padding: 10px 8px;
  text-transform: uppercase;
}

.nav a:hover{
  text-decoration: none;
  position: relative;
  top: -3px;
}

.nav ul{
  list-style: none;
  margin-top: 17px;
}

.search{
  text-align: right;
}

.input_serch{
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-top: 16px;
    padding: 2px 10px;
}

.nav ul li{
  float: left;
}

.input_serch[type="text"]:focus { outline: none; border: 1px solid #949494;}
.intro_bg{
  min-height: 380px;
  background: url(../img/intro_bg.jpg)no-repeat;
  background-size: cover;
  background-position-y: -100px;
}

.intro_bg h1, .intro_bg h2{
  text-transform: uppercase;
  text-align: center;
  color: #d9d9d9;
}

.intro_bg h1{
    font-family: Impact;
    font-size: 120px;
    margin: 40px 0 0 0;
}

.intro_bg h2{
    font-weight: bold;
    margin: 0 0 0 0;
    font-size: 22px;
    color: #ececec;
}

.intro_more{
  text-align: center;
  margin: 77px 0 0 0;
}

.intro_more a{
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15aece+0,15ccde+100 */
  background: #15aece; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #15aece 0%, #15ccde 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #15aece 0%,#15ccde 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #15aece 0%,#15ccde 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15aece', endColorstr='#15ccde',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.intro_more a:hover{
  text-decoration: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15ccde+0,15aece+100 */
background: #15ccde; /* Old browsers */
background: -moz-linear-gradient(45deg,  #15ccde 0%, #15aece 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #15ccde 0%,#15aece 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #15ccde 0%,#15aece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15ccde', endColorstr='#15aece',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.intro_2 h2{
    background: #ededed;
    margin: 0;
    text-align: center;
    min-height: 55px;
    font-size: 22px;
    font-weight: bold;
    padding: 15px 20px;
}

.intro_2 h2 span{
    color: #f84a21;
}

.link_a{
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15aece+0,15ccde+100 */
  background: #15aece; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #15aece 0%, #15ccde 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #15aece 0%,#15ccde 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #15aece 0%,#15ccde 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15aece', endColorstr='#15ccde',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.link_a:hover{
  text-decoration: none;
  color: #ffffff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15ccde+0,15aece+100 */
background: #15ccde; /* Old browsers */
background: -moz-linear-gradient(45deg,  #15ccde 0%, #15aece 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #15ccde 0%,#15aece 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #15ccde 0%,#15aece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15ccde', endColorstr='#15aece',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.intro_2 h2 a{
  font-size: 15px;
  font-weight: normal;
  margin-left: 15px;
}

.intro_3 .container{
  background: #ffffff;
  min-height: 450px;
  background: #ffffff url(../img/intro_3_bg.png);
}

.intro_3 h1{
  margin-top: 135px;
  padding-left: 40px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  font-size: 28px;
}

.intro_3 h1:after{
  content: "";
  border-bottom: 2px solid #e2e2e2;
  position: absolute;
  height: 4px;
  left: 40px;
  bottom: -10px;
  width: 45%;
}

.intro_3 p{
  padding: 0 0 0 40px;
  margin: 20px 0 30px 0;
  font-weight: bold;
  font-size: 16px;
}

.intro_3 a{
  margin-left: 40px;
  padding: 8px;
}

.item_blog img{
  height: 100%;
  width: 100%;
}

.title h1{
  padding: 0 0 0 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 0px;
}

.content .container{
  padding: 15px 80px;
  background: #e5e5e5;
}

.item_hide{
  position: absolute;
  background: rgba(0,0,0,.4);
  height: 100%;
  margin-right: 15px;
  cursor: pointer;
}

.item_hide a:hover{
  color: #ffffff;
  text-decoration: none;
}

.title_category{
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  padding: 7px 0 0 8px;
}

.title_post{
  display: inline-block;
  margin: 60px 0 0 0;
  padding: 0 0 0 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.title_post:after{
  border-radius: 2px;
  content: "";
  height: 4px;
  width: 23%;
  position: absolute;
  bottom: -8px;
  left: 8px;
}

.color_1:after{
  background-color: #fba51a;
}

.color_2:after{
  background-color: #ab2173;
}

.color_3:after{
  background-color: #6d166f;
}

.color_4:after{
  background-color: #1b3463;
}

.item_line{
  margin-bottom: 30px;
}

footer{
  background-color: #000000;
}

.social{
  padding: 45px 0;
  overflow: hidden;
}

.social ul{
  list-style-type: none;
  font-size: 16px;
  position: relative;
  float: left;
  left: 48%;
}

.social ul li{
  float: left;
  margin-right: 10px;
  position: relative;
  right: 50%;
}

.social ul li:first-child{
  margin-right: 25px;
}

.social ul li a{
  position: relative;
}

.social ul li a:hover{
  color: #ffffff;
  text-decoration: none;
  top: -2px
}

.hide_menu, .close_tap, .hide_search, .search_nav{
  display: none;
}

.hide_search{
  padding: 20px 0 33px;
  background: url(../img/top_shadow.png) no-repeat top;
  text-align: center;
}

.hide_search .input_serch{
  padding: 6px 10px;
  font-size: 20px;
  border-radius: 20px;
}

.hide_search i{
  font-size: 24px;
  margin-right: 6px;
}